@mixin absolute {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin red{
  color: #F44336;
}
@mixin teal{
  color: #009688;
}
@mixin brown{
  color: #795548;
}
@mixin indigo{
  color: #3F51B5;
}
